html {
    background-image: url("https://wallpoper.com/images/00/45/04/00/space_00450400.jpg");
    overflow-x: hidden;
}

.codingimage {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    box-shadow: 0 0 12px silver;
    border: 1px solid silver;
    opacity: 0.4;
}

.codingimage:hover {
    opacity: 1.0;
}


p, ul {
    font-size: larger;
    color: whitesmoke;
    text-shadow: 0px 0px 4px red;
}

h1 {
    font-size: 58px;
}

.container1 {
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "title title title"
    "image1 image2 image3" ;
}

.container1 .box11 {
    grid-area: title;
}

.container1 .box11 .textcolor {
    color: orangered;
    text-shadow: 0 0 12px red, 0 0 6px black;
}

.container1 .box12 {
    grid-area: image1;
}

.container1 .box13 {
    grid-area: image2;
}

.container1 .box14 {
    grid-area: image3;
}


.container2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "text text image"
    "text text image" ;
}

.box21 {
    grid-area: text;
}

.box22 {
    grid-area: image;
}



.footer {
    border-radius: 15px;
    background-color: darkslategray;
    position: relative;
    width: 100%;
    height: 5%;
    bottom: 4px;
}

.footer .divtext {
    margin-top: auto;
    margin-left: 5px;
    color: whitesmoke;
    text-shadow: 0px 0px 4px red;
}

.container1 .box11 #anim {
    animation-name: movement;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes movement {
    0% {left: 15%;}
    35% {left: 35%;}
    75% {left: 75%;}
    100% {left: 15%;}
}